footer{
	background-color:map-get($colores, azul50);
	font-size: 0.8em;
	width: 100%;
	padding: 1em 0;
	li{
		list-style: none;
	}
	a{
		text-decoration: none;
		color: map-get($colores, blanco70);
		&:hover{
			color: map-get($colores, blanco);
		}
	}
	div{
		a{
			&:first-child{
				margin-right: 1em;
			}
		}
	}
}

footer ol, footer ul {
	margin: 0;
	padding: 1em 0;
}

//PREGUNTAR! si pongo el svg dentro de la etiqueta <img>, luego desde el css, puedo cambiar los atributos width y height pero no así el fill
// @each $icon in facebook, instagram {
// 	img[src="images/icons/icon-#{$icon}.svg"]{
// 			@include icon (32px, 32px, map-get($colores, azul));		
// 	}
// }

footer svg{
	@include icon (32px, 32px, map-get($colores, azul));
}

div.copyright {
	text-align: center;
	border-top: map-get($colores, azul) solid 1px;
	padding: 0;
	background-color:map-get($colores, azul50);
	font-size: 0.8em;
	p{
		margin: 0;
	}
}
