h1{
	@extend .titulos;
}

//Página Quienes Somos
.textoQuienesSomos{
	background-color: map-get($colores, azul70);
	padding: 1em;
	line-height: 1.5em;
    border-radius: 0.25rem;
    max-width: 450px;
}

.videoQuienesSomos{
	width: 450px;
	max-width: 100%;
	@media (min-width:576px) {
		width: 450px;
	}
}


//Página Obras
section.card{
	background-color: map-get($colores, azul70);
}

.imgObras{
	object-fit: cover;
	height: 20em;	
}

.titulosObras{
	@include font (1.4em, $weight400);
}

//Página Servicios
.titulosServicios{
	list-style: none;
	font-weight: $weight300;
	background-color: map-get($colores, azul70);
	padding: 1em;
	height: auto;
	line-height: 1.5em;
}

//Página Contacto
.form{
	padding: 1em;
	margin-bottom: 1em;
	background-color: map-get($colores, azul70);
	border: solid 1px map-get($colores, azul);
	border-radius: 0.25rem;
}

.button{
	color: map-get($colores, blanco);
	background-color: map-get($colores, azul70);
	border: map-get($colores, azul) 1px solid;	
}

input.button:hover {
	color: map-get($colores, amarillo);
}

fieldset.form{
	h2{
		color: map-get($colores, amarillo);
		font-weight: $weight400;
	}
	h3{
		margin-top: 1em;
		text-align: left;
		@include font (1.2em, $weight400);
	}

}

.textColor{
	width: 100%;
	color: black;
}
