$colorAmarillo: rgb(236,179,101);
$colorAzul: rgb(4,28,50);
$colorAzulTransparente50: rgba(4,28,50, .5);
$colorAzulTransparente70: rgba(4,28,50, .7);
$colorBlanco: rgb(255,255,255);
$colorBlancoTransparente70: rgba(255,255,255,.7);
